/***   global   ***/
body{
  margin-bottom: 80px;
  color: #000;
}

img{
  max-width: 100%;
}

p{
  margin-top: 6px;
  margin-bottom: 12px;
}
p a{
  color: #004680;
  text-decoration: underline;
}

a{
  color: #004680;
  text-decoration: none;
}
a:hover{
  color: #002747;
}

h5{
  font-family: 'Montserrat', sans-serif;
  color: #000;
  letter-spacing: .06em;
  margin-top: 24px;
  text-align: center;
  font-size: 1.1em;
}

hr{
  border-top: 2px solid #000;
  width: 20px;
  margin-top: -14px;
}
/***   /global   ***/

/***   header   ***/
header{
  position: absolute;
  z-index: 2;

  width: 100%;


  height: 44px;

}
#header-content{
  position: fixed;

  z-index: 2;
  width: 100%;
}
#post-header{
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #f4f5f7;
  border-bottom: 1px solid #dedfe2;
  /*position: relative;
  background-color: lightblue;
  height: 38px;
  color: #2f2f2f;*/
}

#logo{
  width: 44px;
  vertical-align: middle;


}

#header-content h5, #post-header h5{
  font-family: 'Montserrat', sans-serif;
  color: #004680;
  letter-spacing: .06em;
  font-size: 1em;
  display: inline;

}

#header-content h5 i, #post-header h5 i{
  margin-left: 22px;
}

.header-column{
  width: 300px;
  display: inline;
}

#header-left{
  width: 32.4%;
  text-align: left;
  display: inline-block;
}
#header-center{
  width: 32.4%;
  text-align: center;
  display: inline-block;
}
#header-right{
  width: 32.4%;
  text-align: right;
  display: inline-block;
}
#mobile-menu, #mobile-menu ul{
  text-align: right;
}

@media (max-width: 570px){
  #header-right{
    width: 49%;
  }
  #header-left{
    width: 49%;
  }
  #header-center{
    display: none;
  }
}
@media (max-width: 250px){
  /*#header-right{
    display: none;
  }
  #header-left{
    width: 76%;
  }
  #menu-button-text{
    display: none;
  }
  #header-center{
    width: 18%;
    text-align: right;
  }*/
}

#hero-image{
  /*z-index: 0;*/
  margin-top: 45px;
  max-width: 100%;
}
@media (min-width: 1170px){
  #hero-image{

    /*z-index: 1;*/
    width: 2000px;
  }
}
/***   /header   ***/

/***   category   ***/
.category-sidebar{
  font-family: 'Lora', serif;
  font-weight: 400;
  font-style: italic;
  color: #888;
  font-size: 1em;
  margin-top: 0px;
}

ul{
  list-style-type: none;
  text-align: left;
  font-size: .9em;
}

.hr-category{
  border-top: 1px dashed #888;
  margin-top: 9px;
  width: 800px;
  max-width: 100%;
  margin-bottom: 6px;
}
/***   /category   ***/

/***   post preview   ***/
.post-preview{
  margin-top: 20px;
  margin-bottom: 20px;
}
.post-preview a{
  text-decoration: none;
  color: black;
}
.post-preview a:hover{
  text-decoration: underline;
}
.category{
  font-family: 'Lora', serif;
  font-weight: 700;
  font-style: italic;
  color: #000;
  font-size: .8em;
}
.title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: .02em;
  color: #000;

  font-size: 1.1em;
}
.tagline{
  font-family: 'Lora', serif;
  font-weight: 400;
  font-style: italic;
  color: #888;
  font-size: 1em;
  letter-spacing: .04em;
}
p{
  font-family: 'Lora', serif;
  font-weight: 400;
  /*font-size: .84em;*/
  font-size: 14px;
  color: #2f2f2f;
  letter-spacing: .01em;
  margin-bottom: 10px;
}


.author-image-wrapper{
  width: 30px;
  padding-top: 4px;
  display: inline-block;

}
.author-pic-mini{
  max-width: 100%;
}

#author-text-wrapper-full{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  color: #2f2f2f;
  font-size: .82em;
  letter-spacing: .11em;
  text-align: center;
}
#author-text-wrapper-full #date{
  font-size: .78em;
}
#author-text-wrapper-full img{
  width: 45px;
  padding: 4px;
  max-width: 100%;
}
#author-text-wrapper-full #social i{
  margin: 6px;
}


.author-text-wrapper{
  display: inline-block;
  color: #2f2f2f;
  padding-bottom: 5px;
  font-size: .71em;
}
.author-by{
  font-family: 'Lora', serif;
  font-weight: 400;
  font-style: italic;
  float: left;
  margin-top: -17px;
  display: inline-block;

}
.author-name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: .11em;
  float: right;
  margin-top: -17px;
  margin-left: 4px;
  display: inline-block;
}

.mini-post-preview{
  height: 250px;
  width: 46.1%;
  display: inline-block;
}
@media (min-width: 401px){
  #full-view-mini-post{
    display: block;
  }
  #small-view-mini-posts{
    display: none;
  }
}
@media (max-width: 400px){
  #full-view-mini-post{
    display: none;
  }
  #small-view-mini-posts{
    display: block;
  }
}

.mini-mini-post-preview{
  height: 210px;
  width: 45.5%;
  display: inline-block;
  margin-bottom: 80px;
}
@media(max-width: 1143px){
  .mini-mini-post-preview{
    margin-bottom: 40px;
  }
}
@media(max-width: 799px){
  .mini-mini-post-preview{
    margin-bottom: 80px;
  }
}
@media(max-width: 547px){
  .mini-mini-post-preview{
    margin-bottom: 40px;
  }
}

.mini-mini-post-preview img{
  max-width: 100%;
}
.mini-mini-post-preview .text-wrapper{
  float: left;
}
.mini-mini-post-preview h5{
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 0px;
  text-align: left;

}
.mini-mini-post-preview:hover{
  text-decoration: underline;
}





.past-post-preview{
  margin-bottom: 24px;
  float: right;
}
.past-post-preview a{
  text-decoration: none;
  color: black;
}
.past-post-preview a:hover{
  text-decoration: underline;
}

.past-post-preview .past-post-image{
  width: 46%;
  float: left;
  margin-right: 5%;
  margin-bottom: 6%;
}
@media (max-width: 920px){
  .past-post-preview .past-post-image{
    margin-bottom: 14%;
  }
}
@media (max-width: 800px){
  .past-post-preview .past-post-image{
    margin-bottom: 0%;
  }
}
@media (max-width: 861px){
  .past-post-preview .past-post-image{
    margin-bottom: 21%;
  }
}
@media (max-width: 799px){
  .past-post-preview .past-post-image{
    margin-bottom: 0%;
  }
}
@media (max-width: 624px){
  .past-post-preview .past-post-image{
    margin-bottom: 14%;
  }
}
@media (max-width: 529px){
  .past-post-preview .past-post-image{
    margin-bottom: 20%;
  }
}
@media (max-width: 494px){
  .past-post-preview .past-post-image{
    margin-bottom: 0px;
  }
}
/***   /post preview   ***/
