body{
  margin-bottom: 120px;
}

/***   global   ***/
h5{
  margin: 24px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: .035em;
}

ul{
  list-style-type: none;
  text-align: left;
  font-size: .9em;
  font-style: italic;
  color: gray;
}
li{
  border-bottom: 1px solid gray;
}

/***   /global   ***/


/***   header   ***/
header{
  z-index: 1;
  padding-top: 8px;
  padding-bottom: 0px;

}
header h5{
  margin-bottom: 6px;
  font-size: 1.25em;
  display: inline;
  font-weight: 300;
}
.header-column{
  width: 300px;
  display: inline;
}
#header-left{
  text-align: left;
}
#header-center{
  text-align: center;
}
#header-right{
  text-align: right;
}
/***   /header   ***/

#hero-image{
  margin-top: -42px;
  max-width: 100%;
}
@media (min-width: 1170px){
  #hero-image{
    width: 2000px;
  }
}




/***   post preview   ***/
  .post-preview{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .post-preview a{
    text-decoration: none;
    color: black;
  }
  .post-preview img{
    max-width: 100%;
  }
  .category{
    font-weight: bold;
    font-style: italic;
    font-size: .8em;
  }
  .title{
    font-weight: bold;
    font-size: 1.1em;
  }
  .tagline{
    font-weight: 300;
    font-style: italic;
    color: gray;
    font-size: 1em;
  }
  .sample-text{
    font-size: .9em;
  }


  .author-image-wrapper{
    width: 30px;
    padding-top: 4px;

    display: inline-block;

  }
  .author-pic-mini{
    max-width: 100%;
  }
  .author-text-wrapper{
    display: inline-block;
    
    padding-bottom: 5px;


  }
  .author-by{
    float: left;
    margin-top: -15px;
    font-size: .8em;
    color: gray;
    font-style: italic;
    display: inline-block;

  }
  .author-name{
    float: right;
    margin-top: -16px;
    margin-left: 4px;
    display: inline-block;
    font-size: .88em;
    color: gray;


  }

  /*small post modifier*/

  .mini-post-preview{
    border: 1px solid purple;
    height: 250px;
    width: 46.1%;

    display: inline-block;
  }

/***   /post preview   ***/
